body {
    margin: 0;
}

#beerTexture {
    position: absolute;
    width: auto;
    height: 1080px;
    left: 0px;
}

#beerGlass {
    position: absolute;
    width: auto;
    height: 1080px;
    left: 0px;
}

#beerBase {
    position: absolute;
    width: auto;
    height: 1080px;
    left: 0px;
}

#beerFoam {
    position: absolute;
    width: auto;
    height: 150px;
    left: 0px;
}

#beer {
    position: absolute;
    width: 300px;
    overflow: hidden;
    height: 40px;
    top: 1040px;
    left: 0px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
}

.full {
    position: absolute;
    top: 46px;
    left: 90px;
}

.half {
    position: absolute;
    top: 510px;
    left: 90px;
}